[Dd]ebug*
[Rr]elease*
*.ncb
*.suo
*.sdf
*.opensdf
*.tss
*.vcproj.*.user
*.vcxproj.user
ipch
*.bak
*.cmake
*.la
*.lo
*.log
*.mode1v3
*.o
*.obj
*.out
*.pbxuser
*.xcuserdatad
*.sdf
*.suo
*.swo
*.swp
*.tlog
*.users
*.pyc
.deps
.gitignore
.libs/
.svn
Makefile
Makefile.in
_*
.*
bin/
3rdparty/wxWidgets/build/bakefiles/.bakefile_gen.state
3rdparty/wxWidgets/lib/vc_lib
3rdparty/wxWidgets/build/msw/*_*/
3rdparty/expat/win32/bin
3rdparty/expat/win32/tmp
